*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
}


html {
    font-size: 62.5%;
    height: 100%;
}


body {
    height: 100%;
    background-color: #151718;
    overflow: hidden;
    -webkit-user-select: none;
}


#editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: right 300ms ease;
}

#editor.half {
    right: 50%;
}


#tabs {
    position: relative;
    height: 3rem;
    background-color: #262b30;
    box-shadow: inset 0 -3px 0 0 #101112;
}


#tabs > span {
    display: inline-block;
    height: 3rem;
    font: normal 1.2rem/1.7rem "Ubuntu Mono", monospace;
    color: #eee;
    padding: 0.5rem 1rem;
    background-color: #101112;
    border-bottom: 3px solid #4f99d3;
}


#actions {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}


#actions span {
    float: left;
    width: 3rem;
    height: 3rem;
    background-color: #4f99d3;
    background: #4f99d3 center center no-repeat;
    background-size: 75%;
    cursor: pointer;
}

#actions span[data-action="tokenize"] {
    background-image: url("../images/check.svg");
}


textarea {
    display: block;
    width: 100%;
    height: calc(100% - 30px);
    font: normal 1.4rem/1 "Ubuntu Mono", monospace;
    color: #eee;
    padding: 1rem;
    outline: none;
    resize: none;
    border: none;
    background: none;
    -webkit-user-select: text;
}


#tokens {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 50%;
    background-color: #0e1112;
    overflow: auto;
    transition: left 300ms ease;
}

#tokens.shown {
    left: 50%;
}


#tokens section {
    position: relative;
    padding: 3.1rem 1rem 1rem 1rem;
}


#tokens h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2.1rem;
    font: normal 1.1rem/2.1rem "Ubuntu Mono", monospace;
    text-transform: uppercase;
    color: #eee;
    background-color: #1e2326;
    padding: 0 10px;
}


#tokens p {
    font: normal 1.2rem/1 "Ubuntu Mono", monospace;
    color: #9fca56;
    margin-bottom: 5px;
}

#tokens p:last-child {
    margin-bottom: 0;
}
